**/.DS_Store
.idea
node_modulesdist/
node_modules/
dist/assets/css
dist/assets/img
dist/assets/js
dist/assets
dist/index.html
dist/manifest.json
dist/precache-manifest.06aff0378eb8d09ee83a217be0bdd57b.js
dist/service-worker.js
dist/0f2a48e691339f986c2f.hot-update.json
dist/268bbaf385312b5f390a.hot-update.json
dist/2e0f105d5acfe3123d9a.hot-update.json
dist/9a3f3dcb806d2ecb794f.hot-update.json
dist/b762ebb48d9da73a42fa.hot-update.json
dist/ebb194c410cb66c4fe79.hot-update.json
dist/precache-manifest.5b8f1ea3653d6fce80b8ebea215cf241.js
dist/precache-manifest.6f5b7887488fa971a5a7d1851251e70e.js
dist/precache-manifest.cace78f5096ca8c921a90f37372d6abb.js
dist/precache-manifest.f9b943dd262a3186e10393d03fa92629.js
.env
dist/precache-manifest.90b81e3fa3c8252cb627e1c3b6e27cf8.js
dist/precache-manifest.5985fe9480d1647d0c98a11f5cf1a238.js
dist/**/*.js
dist/**/*.css
dist/**/*.html
dist/**/*.json
dist/**/*.png
